body
{
    background-color: #eeeeee;
}

label
{
    color: #3c3c3c;
}

a
{
    text-decoration: none;
    color: #3c3cc3;
}

.link
{
    text-align: center;
}

h1
{
    text-align: center;
}

h3
{
    text-align: center;
}

.catcol
{
    background-color: #dddddd;
    border-radius: 16px;
    border: 1px solid #eeeeee;
    margin-bottom: 6px;
}

.linkedList
{
    text-align: center;
}