body
{
	background-color:rgb(12,55,90);
	font-family:'Comic Sans MS';
}
h1
{
	color:rgb(206,205,148);
	text-align:center;
}
h3
{
	color:rgb(225,230,224);
	text-align:center;
}
a
{
	color:rgb(42,189,233);
	text-decoration:none;
}
#left
{
	float:left;
	border:5px solid rgb(89,40,46);
	border-radius: 16px;
	margin: 16px 16px 16px 16px;
	padding: 6px 6px 69px 6px;
	background-color:rgb(90,43,51);
	text-align:left;
}
#install
{
	color:#3cc33c;
}